.login-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100vh;
}
.login-container{
    width:28%;
}
.header{
  border-bottom: 3px solid crimson;
}
.logo{
    left:45%;
    top:-5%;
}
.content{
    display:flex;
    flex-direction: column;
    margin:30px;
}
.textfield{
    margin-top: 20px !important;
}
.button{
    background-color:darkslategray !important;
    color:whitesmoke !important;
    font-weight: bold !important;
    margin-top: 20px !important;
    padding:10px !important;
    text-transform:uppercase;

}